body {
    background-color: #0C7975 !important;
}

.heading {
    background-color: #0C7975 !important;
    font-family: Helvetica !important;
    font-size: 120px !important;
}

.title {
    font-family: Helvetica Neue;
    font-size: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-text {
    color: black !important;
    font-size: 30px;
    width: 500px;
}

.sub-text {
    color: black;
    font-size: 20px;
}

.jumbotron1 {
    background-color: #FCC709 !important;
    color: black !important;
    border: black solid 5px;
    margin-top: 100px;
}

.subheading {
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.display1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px;
}

.display2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -20px;
    margin-top: 35px;
}

.text2 {
    font-size: 20px;
    margin-left: 70px;
    font-weight: bold;
}

.text3 {
    font-size: 20px;
    margin-left: 50px;
    font-weight: bold;
}

.text4 {
    font-size: 20px;
    margin-left: 90px;
    font-weight: bold;
}

.text5 {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

h2 {
    font-family: Helvetica Neue;
    font-size: 60px;
    padding-left: 70px;
    color: white;
}

ul {
    font-family: Helvetica;
    font-size: 50px;
    color: white;
    padding-left: 70px;
    list-style-type: none;
    line-height: 70px;
    margin-top: -40px;
}

p {
    font-family: Helvetica;
    font-size: 50px;
    color: white;
    padding-left: 70px;
}

u {
    text-decoration: underline;
    display: flex;
}

.container1 {
    background-color: #FCC709;
    height: 193px;
    margin-left: -15px;
    margin-right: -15px;
    border: black solid 5px;
    margin-top: 40px;
}

h3 {
    font-size: 100px;
    color: black;
    padding-left: 40px;
    padding-top: 35px;
    font-family: Helvetica;
    text-decoration: underline;
    margin-top: -5px;
}

.container2 {
    background-color: #F2CB57;
    margin-right: 400px;
    margin-left: -8px;
}

h4 {
    font-size: 30px;
    font-family: Helvetica Neue;
    color: black;
    padding-left: 70px;
    padding-top: 35px;
}

.info {
    font-size: 30px;
    font-family: Dagny Pro;
    color: black;
    padding-left: 70px;
    margin-top: -20px;
    padding-bottom: 50px;
    padding-right: 90px;
}

.container3 {
    background-color: #F2CB57;
    margin-left: 400px;
    margin-right: -8px;
}

.container4 {
    background-color: #AE8E1C;
    margin-left: 70px;
    margin-right: 70px;
}

.sub {
    text-align: center;
}

.persona {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userpersona {
    align-content: flex-end;
}

.userjourneymap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
}

.taskflow {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.surveypara {
    display: block;
    float: left;
    font-size: 30px;
    font-family: Dagny Pro;
    margin-right: 100px;
}

.surveypic {
    display: block;
    float: right;
}

.survey1 {
    display: block;
    float: right;
    margin-left: 800px;
    margin-right: 50px;
    margin-top: -90px;
    margin-bottom: 30px;
}

.survey2 {
    display: block;
    float: right;
}

.survey3 {
    display: block;
    float: right;
}

.survey4 {
    display: block;
    float: right;
}